<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/base.css" />
    <title>Navbar</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <a href="user-dashboard.html" class="logo">DutySync</a>
      </div>
      <div class="navbar-right">
        <span class="welcome-msg"
          >Welcome, <span id="username">User</span></span
        >
        <button id="logoutBtn">Logout</button>
      </div>
    </nav>
  </body>
</html>
